<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081174669151-m02cq886vlfb5ot23eer6sf0mf0ch6kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081174669151-m02cq886vlfb5ot23eer6sf0mf0ch6kn</string>
	<key>API_KEY</key>
	<string>AIzaSyBl5CRxXoxmHY1n3lzG0x_NUZP41JapiZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>1081174669151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xponend.skillzapp</string>
	<key>PROJECT_ID</key>
	<string>skillzapp</string>
	<key>STORAGE_BUCKET</key>
	<string>skillzapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081174669151:ios:170704b51ce32f40c428ea</string>
</dict>
</plist>